body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 50px;
    }
    .container {
    width: 300px;
    margin: auto;
    text-align: center;
    }
    #timer {
    font-size: 3em;
    margin-bottom: 20px;
    }
    button {
    padding: 10px 20px;
    margin: 0 5px;
    }
    #done-button1 {
    display: none;
    }
    #done-button1:checked + .button-text1::before {
    content: "✅";
    }
    #done-button1:checked + .button-text1 {
    content: "";
    }
    #done-button2 {
    display: none;
    }
    #done-button2:checked + .button-text2::before {
    content: "✅";
    }
    #done-button2:checked + .button-text2 {
    content: "";
    }
    #done-button3 {
    display: none;
    }
    #done-button3:checked + .button-text3::before {
    content: "✅";
    }
    #done-button3:checked + .button-text3 {
    content: "";
    }
    .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    }
    .center {
    margin-left: auto;
    margin-right: auto;
    }